body {
    font-family: "Montserrat", sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
}

.contenedor-general {
    display: flex;
    min-height: 100vh;
}

/* Barra lateral */
.barra-lateral {
    width: 220px;
    background-color: #1e1e2f;
    color: #e2edf8;
    padding: 20px;
    box-sizing: border-box;
}

.barra-lateral h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #00bfff;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.barra-lateral ul li {
    margin-bottom: 15px;
}

.barra-lateral ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s;
}

.barra-lateral ul li a:hover {
    color: #00bfff;
}

.cerrar-btn {
    display: block;
    margin-top: 30px;
    padding: 10px;
    background-color: #f3374a;
    color: #f8dbdb;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

.cerrar-btn:hover {
    background-color: #610710;
    transform: scale(1.03);
}

.contenido-principal {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    align-items: center;     /* centra horizontalmente */
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.contenido-principal h1 {
    font-size: 32px;
    color: #1a1a2e;
    font-weight: 700;
    margin-bottom: 30px;
}

.contenedor-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.4; /* semi-transparente */
}

.contenedor-imagen img.imagen {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.contenedor-imagen p {
    font-size: 18px;
    color: #1a1a2e;
    opacity: 0.4; /* semi-transparente */
}


