body {
    font-family: "Montserrat", sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
}

.contenedor-general {
    display: flex;
    min-height: 100vh;
}

.barra-lateral {
    width: 220px;
    background-color: #1e1e2f;
    color: #e2edf8;
    padding: 20px;
    box-sizing: border-box;
}

.barra-lateral h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #00bfff;
    font-family: "Montserrat", sans-serif;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.barra-lateral ul li {
    margin-bottom: 15px;
}

.barra-lateral ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    transition: color 0.2s;
}

.barra-lateral ul li a:hover {
    color: #00bfff;
}

.cerrar-btn {
    display: block;
    margin-top: 30px;
    padding: 10px;
    background-color: #f3374a;
    color: #f8dbdb;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

.cerrar-btn:hover {
    background-color: #610710;
    transform: scale(1.03);
}

.contenido-principal {
    flex: 1;
    padding: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.contenido-principal h1 {
    font-size: 32px;
    text-align: center;
    margin: 0 0 20px 0;
    color: #1a1a2e;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.contenedor-acciones {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

button.crear {
    padding: 10px 20px;
    background-color: #92d3f8;
    color: #0a023b;
    border: none;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

button.crear:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

table th {
    background-color: #0c1f33;
    color: #fff;
    font-weight: 600;
}
table th[colspan="2"] {
    text-align: center;
}
table td:nth-child(n+3) {
    text-align: center; /* centra los botones dentro de cada celda */
}

table tr:nth-child(even) {
    background-color: #c2e2f3;
    
}



.contenido-principal p {
    color: #666;
    font-size: 16px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}
