* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
}

.contenedor-general {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

/*Barra lateral*/
.barra-lateral {
    flex: 0 0 220px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    height: 100vh;
    overflow-y: auto;
}

.barra-lateral h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.barra-lateral ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.barra-lateral ul li a:hover {
    background-color: #111;
}
/*Boton cerrar sesion*/
.cerrar-btn {
    margin-top: 5rem;
    margin-left: 2rem;
    display: inline-block;
    padding: 10px 16px;
    background-color: #910909;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.cerrar-btn:hover {
    background-color: #530808;
}

/* Contenido general*/
.contenedor-general > div:not(.barra-lateral) {
    flex: 1;
    padding: 30px;
}

p {
    font-size: 16px;
    color: #444;
    margin-top: 20px;
}

/*Titulo*/
h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 10px; /* espacio entre el título y los botones */
}

/* Acciones*/
.contenedor-acciones {
    display: flex;
    justify-content: flex-end; /*los manda al lado derecho */
    margin-bottom: 20px;
    padding-right: 30px; /* separación del borde derecho */
}

.acciones {
    display: flex;
    gap: 10px; /* espacio entre los botones */
}

.accion-entrada,
.accion-salida {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.accion-entrada a,
.accion-salida a {
    text-decoration: none;
    color: #0078d7;
    font-weight: bold;
}

.accion-entrada:hover,
.accion-salida:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
}

/*Tabla de stock*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

th, td {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #0078d7;
    color: white;
    font-weight: normal;
}

tr:hover {
    background-color: #f9f9f9;
}

th:last-child {
    text-align: center;
}

td:last-child {
    display: flex;
    justify-content: center;
    gap: 10px;
}


/* boton Eliminar */
button.eliminar {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

button.eliminar:hover {
    background-color: #b02a37;
}

/* boton Editar */
button.editar {
    background-color: #dc9435;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

button.editar:hover {
    background-color: #d36409;
}

